<!-- Channel Header -->
<header class="border-b flex px-6 py-2 items-center flex-none channel-header">
  <div>
    <h3 class="text-grey-darkest mb-1 font-extrabold channel-header__title">
      <span aria-hidden="true">#</span>
      {{@title}}
    </h3>

    <h4 class="text-grey-dark text-sm truncate channel-header__description">
      {{@description}}
    </h4>
  </div>

  <form
    class="ml-auto md:block border border-grey rounded-lg pl-3 pr-2 py-1 flex flex-row-reverse items-center search-form">
    <label for="search" class="sr-only">Search messages</label>

    <input placeholder="Search" class="appearance-none search-form__field" id="search" type="search">

    <button aria-label="Submit search" class="search-form__button">
      <svg class="fill-current text-grey h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z">
        </path>
      </svg>
    </button>
  </form>
</header>
