 <!-- Message -->
<div class="flex items-start px-6 py-2 text-sm hover-target hover:bg-grey-lightest message" role="listitem">
  <figure class="w-10 h-10 rounded overflow-hidden mr-3">
    <img class="message__user-avatar" src="https://gravatar.com/avatar/96c332a96737c6668906232e39cb16ef?s=200" alt="">
  </figure>

  <div class="flex-1">
    <h5 class="text-sm">
      <a href="#" class="message__user-name text-black font-bold no-underline hover:underline">
        Lisa Huang-North
      </a>
      <span class="sr-only">at</span>
      <time class="message__timestamp text-grey-darker text-xs font-normal">
        {{format-timestamp '04-21-2019 12:21.38 PM'}}
      </time>
    </h5>

    <p class="message__body text-black leading-normal">
      Would you like to join my professional network?
    </p>
  </div>

  <button
    class="message__delete-button border-transparent hover:border-red-light show-on-hover hover:bg-red-lightest border-1 rounded mb-1 pl-3 pr-2 py-1"
    aria-label="delete message">
    🗑
  </button>
</div>