<div class="flex items-start mb-4 text-sm">
  <img src={{@message.user.iconUrl}} class="w-10 h-10 rounded mr-3">
  <div class="flex-1 overflow-hidden">
    <div>
      <span class="font-bold">{{@message.user.name}}</span>
      <span class="text-grey text-xs">{{format-timestamp @message.createdAt}}</span>
    </div>
    <p class="text-black leading-normal">
      {{@message.body}}
    </p>
  </div>
</div>