<div class="notifications-container z-10">
  {{#each this.notifications.messages as |msg|}}
    {{#if (eq msg.color "green-dark")}}
      <Notification @notification={{msg}}>
        <img src="https://media.giphy.com/media/toBi2rizjV8CswqIXG/giphy.gif" width="140" class="mr-20">
        {{msg.body}}
      </Notification>
    {{else}}
      <Notification @notification={{msg}} />
    {{/if}}
  {{/each}}
</div>