{{!-- Team Sidebar --}}
<TeamSidebar @team={{this.model}} @channels={{this.model.channels}} />

{{!-- Chat content --}}
<main class="flex-1 flex flex-col bg-white overflow-hidden">
  {{outlet}}
</main>