<!-- Channel -->
<main class="flex-1 flex flex-col bg-white overflow-hidden channel">

  <Channel::Header @title={{this.model.name}} @description={{this.model.description}} />

  <!-- Channel Message List -->
  <ChannelContainer
    @channel={{this.model}}
    as |messages| >

    {{#each messages as |m|}}
      <Channel::Message @message={{m}}/>
    {{/each}}

  </ChannelContainer>
  <Channel::Footer />
</main>