<!-- Channel -->
<main class="flex-1 flex flex-col bg-white overflow-hidden channel">

  <ChannelHeader class="bg-grey" @title={{this.model.name}} @description={{this.model.description}} />
  <!-- Channel Message List -->
  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
    <ChannelMessage />
  </div>

  <ChannelFooter />
</main>