<ChannelContainer @channel={{this.model}} as |ch|>
  <ChannelHeader @title={{this.model.name}} @description={{this.model.description}} />

  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
    {{#each ch.messages as |message|}}
      <ChatMessage @message={{message}}/>
    {{/each}}
  </div>

  <ChannelFooter />
</ChannelContainer>
