<TeamSelector />
<TeamSidebar />
<main class="flex-1 flex flex-col bg-white overflow-hidden">
  <ChannelHeader />

  <div class="py-4 flex-1 overflow-y-scroll" role="list">
    <ChatMessage />
    <ChatMessage />
    <ChatMessage />
  </div>

  <ChannelFooter />
</main>