<div class="font-sans antialiased h-screen flex">
  {{!-- Team Selector --}}
  <TeamSelector />
  {{!-- Team Sidebar --}}
  <TeamSidebar @title='Frontend Masters' />

  {{!-- Chat content --}}
  <div class="flex-1 flex flex-col bg-white overflow-hidden">
    <ChannelHeader @name='general' @description='Chatting about ugly HTML and mixing of concerns.' />
    {{!-- Chat messages --}}
    <div class="px-6 py-4 flex-1 overflow-y-scroll">
      {{!-- A message --}}
      <ChatMessage />
      <ChatMessage />
      <ChatMessage />
    </div>
    <div class="pb-6 px-4 flex-none">
      <MessageCreator />
    </div>
  </div>
</div>