
<TeamSelector />
<TeamSidebar />

<!-- Channel -->
<main class="flex-1 flex flex-col bg-white overflow-hidden channel">
  {{!  app/templates/components   CHANNEL/HEADER.HBS}}
  <Channel::Header
    id="channel-header"
    class="bg-blue"
    @title="Jobs"
    @description="New opportunities at LinkedIn" />
  
  <!-- Channel Message List -->
  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
 
    <Channel::Message />
  </div>
  <Channel::Footer />
</main>